<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      font-size: 18px;
    }

    header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 10%;
      background: #fbd157;
    }

    .gif {
      width: 60%;
    }

    .container {
      width: 50%;

    }

    .img-logo {
      margin: 0 auto;
    }

    span {
      font-size: 26px;
    }

    p {
      font-size: 18px;
    }

    .last-text {
      margin: 4% 0;
    }

    button {
      padding: 15px;
      background: #fbd157;
      margin: 4% 0;
      border: none;
      font-weight: bold;
      color: #500050;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <header>
    <img src="https://i.ibb.co/6JH8q43/brand-without-text.png" alt="Logo U-Do" class="img-logo">
  </header>
  <div class="container">
    <span><b>Heey,</b></span>
    <p> Está preparada(o)? A sua chance de <b>brilhar como criador de conteúdo</b> começa agora.</p>
    <img
      src="https://imagens.brasil.elpais.com/resizer/_QuVKRAq5ZfmZCHe975j36Fmk4c=/768x0/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/EEDGR5BJDXT5NN7GFXQ524PDBM.gif"
      alt="Gif do Ator Leonardo diCaprio com seu oscar." class="gif">
    <p>📸Criar conteúdo nas redes sociais parece fácil né?! É só <b>ligar a câmera</b> e começar a <b>gravar</b> que o
      sucesso vem.</p>
    <p>Existem excessões, mas não é tão simples assim.
      <br>
      <br>
      Ahh e não é porque não é simples que você não vai conseguir!
      <br>
      <br>
      📑Preparamos um material feito com muito carinho pela <b>equipe do U-do</b> para te guiar nessa jornada de
      “blogueirinhes"</p>
    <a href="https://drive.google.com/file/d/1shmDrIEYef4FvZUtwVZPi2W508Ybzqcu/view?usp=sharing"
      target="blank"><button>Acessar o Material</button></a>
    <p class="last-text"><b>Ahh, só mais uma coisa!</b> Não esqueça de comentar com os seus <b>amigos</b> que você agora
      já sabe tudo
      sobre o mundo digital.
      <br>
      <br>
      🤳<b>Aproveite o conteúdo e vamos juntos!</b>
      <br>
      <br>
      Nós da U-do nascemos com a ideia de ser um novo canal de conteúdo criativo para quem quer ficar por dentro de tudo
      o que interessa: redes sociais, dicas para o mundo on e offline, notícia e diversão também, afinal, ninguém é de
      ferro, não é mesmo?
      <br>
      <br>
      Por aqui, tudo é entregue de forma direta e sem enrolação, tudo feito pensando em quem não tem tempo a perder e
      não quer ficar parado.
      <br>
      <br>
      Nossa jornada está apenas começando, vamoooos nessa!
    </p>
  </div>
</body>

</html>